@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

li {
  height: 50px;
  line-height: 50px;
}

.list-move,
.list-enter-active,
.list-leave-active {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

/* 确保将离开的元素从布局流中删除
  以便能够正确地计算移动的动画。 */
.list-leave-active {
  position: absolute;
}